{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <div class="center-content">
        <br><br>
        <h3 class="display-7" >
            Welcome to use Bridge2AI Image Data Quality Assessment Tool
        </h3>
        <br>
        <p>
            The Image Quality Assessment tool is a software program that allows users to upload images and assess their 
            quality based on the image quality index or machine learning models. 
            The tool generates a report that includes the image name, the image quality index, 
            and the image quality score. This report can be downloaded in CSV format for further analysis. 
            <br><br>
            This tool also provides an option to delete uploaded images to protect the user's privacy and free up space on the server.
            Overall, the Image Quality Assessment tool is a useful tool for anyone who needs to quickly assess the quality of their images. 
            It is easy to use, fast, and provides accurate results, making it an essential tool for anyone who works with digital images.
        </p>
        <img src="/static/images/content.jpg" class="image-fluid" width="600" alt="">
    </div>
</div>

{% endblock %}